<div class="login-container">
  <div class="login-box">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <input type="email" id="email" placeholder="Email" formControlName="email">
      </div>
      @if (emailIsInvalid) {
        <p class="error-message">Please enter a valid email</p>
      }
      <div class="input-container">
        <input type="password" id="password" placeholder="Password" formControlName="password">
      </div>
      @if (passwordIsInvalid) {
        <p class="error-message">Please enter a valid password (at least 6 characters)</p>
      }
      <div class="button-container">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
