<section class="container">
  <h2 class="title">Lista de Treinos</h2>

  <button routerLink="/workouts/new" class="btn btn-create">
    Criar Novo Treino
  </button>

  @if (loading) {
    <div>Carregando treinos...</div>
  } @else {
    @if (workouts.length > 0) {
      <section class="workout-list">
        @for (workout of workouts; track $index) {
          <app-workout-item [workout]="workout"></app-workout-item>
        }
      </section>
    } @else {
      <div>Nenhum treino cadastrado.</div>
    }
  }
</section>
