<main class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <fieldset>
      <h3>Registrar Exercício</h3>
      <label for="name">Nome:</label>
      <input type="text" id="name" formControlName="name"/>

      <label for="name">Tipo:</label>
      <select name="select" aria-label="Select" formControlName="type">
        <option selected disabled value="">Tipo do exercício</option>
        <option value="PEITO">Peito</option>
        <option value="PERNA">Perna</option>
        <option value="COSTAS">Costas</option>
        <option value="CARDIO">Cardio</option>false
        <option value="ALONGAMENTO">Alongamento</option>
      </select>

      <label for="image">Imagem:</label>
      <input type="file" id="image" (change)="onFileSelected($event)" />

      <button type="submit">Adicionar Exercício</button>
    </fieldset>
  </form>
</main>
