<header class="container">
  <nav>
    <ul>
      <li>
        <a [routerLink]="['']">
          <strong>Gym Tracker</strong>
        </a>
      </li>
    </ul>
    @if(shouldShowNavbar()) {
      <ul>
        <li><a [routerLink]="['treinos']">Treinos</a></li>
        <li><a [routerLink]="['workouts']">Adicionar Treino</a></li>
        <li><a [routerLink]="['exercises']">Exercícios</a></li>
        <li><app-profile-dropdown></app-profile-dropdown></li>
      </ul>
    }
  </nav>
</header>
<router-outlet></router-outlet>
