<section class="container">
  <h2 class="title">Criar Treino</h2>

  <form [formGroup]="workoutForm" (ngSubmit)="submitWorkout()" class="form">
    <div class="input-group">
      <label for="name">Nome do Treino</label>
      <input type="text" id="name" formControlName="name" placeholder="Nome do Treino">
      @if (workoutForm.controls['name'].invalid && workoutForm.controls['name'].touched) {
        <small class="error">Nome obrigatório!</small>
      }
    </div>

    <div class="input-group">
      <label for="selectedType">Selecione o tipo de exercício</label>
      <select id="selectedType" (change)="filterExercises()" formControlName="exerciseType">
        <option value="">Todos</option>
        @for (type of exerciseTypes; track $index) {
          <option [value]="type">{{ type }}</option>
        }
      </select>
    </div>

    <div class="input-group">
      <label for="exercise">Selecione um Exercício</label>
      <select id="exercise" formControlName="exerciseId">
        @for (exercise of filteredExercises; track $index) {
          <option [value]="exercise.id">{{ exercise.name }}</option>
        }
      </select>
    </div>

    <div class="inline-group">
      <div class="input-group">
        <label for="sets">Séries</label>
        <input type="number" id="sets" formControlName="sets" placeholder="Séries">
        @if(workoutForm.controls['sets'].invalid && workoutForm.controls['sets'].touched) {
          <small class="error">Informe um número válido!</small>
        }
      </div>

      <div class="input-group">
        <label for="reps">Repetições</label>
        <input type="number" id="reps" formControlName="reps" placeholder="Repetições">
        @if(workoutForm.controls['reps'].invalid && workoutForm.controls['reps'].touched) {
          <small class="error">Informe um número válido!</small>
        }
      </div>
    </div>

    <div class="button-group">
      <button type="button" (click)="addExercise()" class="btn btn-add">Adicionar Exercício</button>
      <button type="submit" [disabled]="workoutForm.invalid || selectedExercises.length === 0" class="btn btn-save">Salvar Workout</button>
    </div>
  </form>

  <h3>Exercícios Adicionados</h3>
  @if(selectedExercises.length >= 2){
    <p>
      <small class="info">*Você pode arrastar os exercicios para deixa-los em ordens diferentes*</small>
    </p>
  }
  <div cdkDropList class="exercise-list" (cdkDropListDropped)="drop($event)">
    @for(exercise of selectedExercises; track exercise.exercise.id) {
      <div cdkDrag class="exercise-item">
        <span cdkDragHandle>{{ getExerciseName(exercise.exercise.id) }} - {{ exercise.sets }}x{{ exercise.reps }}</span>

        <input type="number" [value]="exercise.sets" (change)="updateExerciseSets(exercise.exercise.id!, $event)" min="1" class="input-small">x
        <input type="number" [value]="exercise.reps" (change)="updateExerciseReps(exercise.exercise.id!, $event)" min="1" class="input-small">

        <button type="button" (click)="removeExercise(exercise)" class="btn btn-remove">Deletar</button>
      </div>
    }
  </div>

</section>
