<section class="container">
  <h2 class="title">{{ editing ? 'Editar Treino' : 'Criar Treino' }}</h2>

  <form [formGroup]="workoutForm" (ngSubmit)="submitWorkout()" class="form">
    <div class="input-group">
      <label for="name">Nome do Treino</label>
      <input type="text" id="name" formControlName="name" placeholder="Nome do Treino">
      @if (workoutForm.controls['name'].invalid && workoutForm.controls['name'].touched) {
        <small class="error">Nome obrigatório!</small>
      }
    </div>

    <div class="input-group">
      <label for="selectedType">Selecione o tipo de exercício</label>
      <select id="selectedType" (change)="filterExercises()" formControlName="exerciseType">
        <option value="">Todos</option>
        @for (type of exerciseTypes; track $index) {
          <option [value]="type">{{ type }}</option>
        }
      </select>
    </div>

    <div class="input-group">
      <label for="exercise">Selecione um Exercício</label>
      <select id="exercise" formControlName="exerciseId">
        @for (exercise of filteredExercises; track $index) {
          <option [value]="exercise.id">{{ exercise.name }}</option>
        }
      </select>
    </div>

    <div class="inline-group">
      <div class="input-group">
        <label for="sets">Séries</label>
        <input type="number" id="sets" formControlName="sets" placeholder="Séries">
        @if(workoutForm.controls['sets'].invalid && workoutForm.controls['sets'].touched) {
          <small class="error">Informe um número válido!</small>
        }
      </div>

      <div class="input-group">
        <label for="reps">Repetições</label>
        <input type="number" id="reps" formControlName="reps" placeholder="Repetições">
        @if(workoutForm.controls['reps'].invalid && workoutForm.controls['reps'].touched) {
          <small class="error">Informe um número válido!</small>
        }
      </div>
    </div>

    <div class="button-group">
      <button type="button" (click)="addExercise()" class="btn btn-add">Adicionar Exercício</button>
      <button type="submit" [disabled]="!canSaveWorkout() || isLoading()" class="btn btn-save">
        @if (isLoading()) {
          Salvando...
        } @else {
          {{ editing ? 'Atualizar' : 'Salvar' }} Workout
        }
      </button>
    </div>
  </form>

  <h3>Exercícios Adicionados</h3>
  @if(selectedExercises().length >= 2){
    <p>
      <small class="info">*Você pode arrastar os exercicios para deixa-los em ordens diferentes*</small>
    </p>
  }
  <div cdkDropList class="exercise-list" (cdkDropListDropped)="drop($event)">
    @for(workoutExercise of selectedExercises(); track $index) {
      <div cdkDrag class="exercise-item">
        <span>{{ getExerciseName(workoutExercise.exercise.id) }} - {{ workoutExercise.sets }}x{{ workoutExercise.reps }}</span>

        <input
          class="input-small"
          type="number"
          [value]="workoutExercise.sets"
          (change)="updateExerciseSets(workoutExercise.exercise.id!, workoutExercise.position, $event)"
          (mousedown)="$event.stopPropagation()"
          min="1"
        >x
        <input
          class="input-small"
          type="number"
          [value]="workoutExercise.reps"
          (change)="updateExerciseReps(workoutExercise.exercise.id!, workoutExercise.position, $event)"
          (mousedown)="$event.stopPropagation()"
          min="1"
        >

        <button
          class="btn btn-remove"
          type="button"
          (click)="removeExercise(workoutExercise)"
          (mousedown)="$event.stopPropagation()">
          Deletar
        </button>
      </div>
    }
  </div>

</section>
