<main class="container">
  <button mat-raised-button color="primary" [routerLink]="['/exercises/new']">
    Criar exercício
  </button>
  <section>
    <h2>Exercícios</h2>

    <input
      type="text"
      placeholder="Buscar exercício..."
      [(ngModel)]="searchTerm"
      (input)="filterExercises()"
    >

    <select [(ngModel)]="selectedType" (change)="filterExercises()">
      <option value="">Todos</option>
      @for (type of exerciseTypes; track $index) {
        <option [value]="type">{{ type }}</option>
      }

    </select>

    <ul>
      @for (exercise of filteredExercises; track $index) {
        <app-exercise-item
          [exercise]="exercise"
          (view)="onView($event)"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)">
        </app-exercise-item>
      }
    </ul>
  </section>
</main>
