html, body {
  height: 100%; /* Define altura total */
  margin: 0;
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
}

app-root {
  flex: 1; /* Ocupa todo o espaço disponível entre o header e o footer */
}

footer {
  padding: 1rem;
  text-align: center;
}
